
<table id="tablaContactos" class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>CURP</th>
            <th>Clave Elector</th>
        </tr>
    </thead>
    <tbody>
        {% for contacto in contactos %}
            <tr data-href="{% url 'contactos:mostrarPerfilContacto' id_contacto=contacto.id %}"
                {% if contacto.estatus != "A" %}
                class="table-danger"
                {% endif %}
            >
                <td>{{ contacto.apellido_paterno }}</td>
                <td>{{ contacto.apellido_materno }}</td>
                <td>{{ contacto.nombre }}</td>
                {% if contacto.telefono %}
                    <td>{{ contacto.telefono }}</td>
                {% else %}
                    <td>Sin telefono</td>
                {% endif %}

                {% if contacto.email %}
                    <td>{{ contacto.email }}</td>
                {% else %}
                    <td>Sin Email</td>
                {% endif %}

                {% if contacto.curp %}
                    <td>{{ contacto.curp }}</td>
                {% else %}
                    <td>No Registrada</td>
                {% endif %}

                {% if contacto.clave_elector %}
                    <td>{{ contacto.clave_elector }}</td>
                {% else %}
                    <td>No Registrada</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    $(document).ready( function () {
        $('#tablaContactos').DataTable();
    } );

    // dirigir click a perfil
    document.addEventListener('DOMContentLoaded', () => {
    const filas = document.querySelectorAll('tr[data-href]');

    filas.forEach(fila => {
        fila.addEventListener('click', () => {
        window.location.href = fila.dataset.href;
        });
    });
    });
</script>