{% extends 'base.html' %}

{% block content %}
    <h1>{{ titulo }}</h1>

    {% if id_contacto %}
        <p>{{ id_contacto }}</p>
    {% else %}
        <p>Estas insertando wey</p>
    {% endif %}

    <div class="row my-2">
        <div class="col-lg-4 border-end">
            <p>¿Desea conservar este contacto?</p>
            {% include "contactos/componentes/formContacto.html" %}
        </div>
        <div class="col-lg-8">
            {% include "contactos/componentes/tablaContactos.html" %}
        </div>
    </div>

{% endblock %}